*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

#Titulo {
    display: flex;
    justify-content: center;
    margin-top: 20px;
}

.Titulo_background{
    background-color: yellow
}

.container{
    display: flex;
    flex-wrap: wrap;
    padding-top: 20px;
    justify-content: center;

}

.row{
    display: flex;
    padding: 20px;
}